@model X.PagedList.IPagedList<TUser>
@using WebBanHang.Models;
@using X.PagedList.Mvc.Core;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "QuanLyNguoiDung";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Quản lý người dùng</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="table-info">
            <th>
                Tên tài khoản
            </th>
            <th>
                Mật khẩu
            </th>
            <th>
                Loại User
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            string @cls = "table-danger";
        }
@foreach (var item in Model) {
    i = i + 1;
            cls = "table-danger";
            if(i%2==0)
            {
                cls = "table-success";
            }
            <tr class="@cls">
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.LoaiUser)
                    
                
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Username">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Username">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Username">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("QuanLyNguoiDung", new { page = page }), new PagedListRenderOptions()
{
    LiElementClasses = new List<String> { "page-item" },
    PageClasses = new List<String> { "page-link" }
})

